@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    background-image: url('../img/city_vector.jpg');
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    color: whitesmoke;
    font-family: "Noto Sans", sans-serif;
}

.hero {
    /* position: absolute; */
    min-height: 100vh;
    min-width: 100vw;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);

}

/* navbar */
.navbar {
    background-color: rgba(69, 107, 171, 0.171);

}

.navbar a {
    color: whitesmoke;
    font-size: 2.5rem;
}

#date {
    font-weight: 700;
    font-size: 1.8rem;
}

/* Weather section */
.weather {
    border: 1px solid whitesmoke;
    margin-top: 10rem;
    background-color: rgba(0, 0, 0, .3);
    border-radius: .5rem;
    color: whitesmoke;
}

.weather-head {
    height: 50%;
}

#icon-desc {
    font-size: 6rem;
    /* padding-top: 3rem; */
    padding: 1rem 0;
    padding-bottom: 1.8rem;
}

.weather-body .row {
    border-top: 1px solid white;
    /* border-bottom: 1px solid white; */
    font-size: 1.8rem;
    /* padding: 1rem 0; */
}
.humidity, .wind, .visibility {
    padding: .5rem 0;
}

#description {
	font-size: 1.7rem;
}

#temperature {
	font-size: 8rem;
}
#icon-thermometer {
	font-size: 6rem;
}

#humidity, #wind, #visibility {
    font-size: 2rem;
    padding: .8rem 0;
}

/* Button */ 

#change-button {
    padding: .7rem 4.9rem 1.1rem 4.9rem;
    font-size: 1.7rem;
    background-color: rgba(0, 0, 0, .6);
    color: whitesmoke;
    cursor: pointer;
    border: 1px solid;
    border-radius: .5rem;
}

#change-button:active,
#change-button:focus {
    outline: none;
}

.fa.fa-calendar {
    position: absolute;
    right: 17rem;
}

.modal {
    color: black;
    font-size: 2rem;
    position: absolute;
    top: 15rem;
    
}
.modal .modal-content {
    background-color: rgb(255, 255, 255);
}
.modal-header {
    border: none;
}
.modal-footer {
    border: none;
}
#w-change-btn {
    background-color: slateblue;
    margin-top: -2rem;
    border-radius: 3px;
    padding: .8rem 3.5rem;
    outline: 10px solid white;
}
#w-change-btn:focus {
    box-shadow: transparent;
}


.form-control {
    height: 34px;
    font-size: 1.6rem;
}

.form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
}

button.close {
    outline: none;
    border: none;
    opacity: 1;
}

#icon-desc{ 
    height: 100px;
    width: 120px;
    background-color: rgba(255, 255, 255, 0.726);
    border-radius: 5px;
}

